<%- include('../parcials/head')  %> 

        <main>
            <form action="/product/store" method="POST">
                    <input type="text" name = 'nombre' id="nombre" placeholder="nombre">
                    <input type="text" name = 'price' id="price" placeholder="precio">
                    <input type="text" name = 'descuento' id="descuento" placeholder="descuento">
                    <input type="textarea" name = 'description' id="descripcion" placeholder="descripcion">
                    <input type= "submit" placeholder="enviar">
            </form>
        </main>

        <!--------------------------------------------FOOTER------------------------------------------------>

        
<%- include('../parcials/footer')  %> 