<footer>
            <div>
                <i class="fas fa-credit-card"></i>
                <h1>Paga con tarjeta o en efectivo</h1>
                <p class="texto">
                    Con MercadoLiebreCash tenes cuotas sin interes <br>
                    con tarjeta o efectivo en puntos de <br>
                    pago.¡Y siempre seguro!
                </p>
            </div>

            <div>
                <i class="fas fa-gift"></i>
                <h1>Envio gratis desde los $2500</h1>
                <p class='texto'>
                    Solo por estar registrad@ en MercadoLiebre <br>
                    tenes envios gratis en miles de productos. Es <br>
                    un beneficio de MercadoPuntos.
                </p>

            </div>

            <div>
                <i class="fas fa-user-shield"></i>
                <h1>Seguridad de principio a fin</h1>
                <p class='texto'>
                    ¿No te gusta? ¡Devolvelo! En MercadoLiebre <br>
                    no hay nada que no puedas hacer porque <br>
                    estas siempre protegid@.
                </p>

            </div>
            <div>
                <p class='texto'>Copyright © 1999-2000 MercadoLiebre S.R.L</p>
            </div>

        </footer>

    </body>

</html>