<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>Bienvenidxs a MercadoLiebre</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
            <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <header>
            <div class='nav'>
                <div class="main-head">
                    <a href="/"><img src="/img/logo-mercado-liebre.svg" class='elemento' alt=""></a>
                </div>
                <div class="main-head">
                    <input type="text" class='elemento' placeholder="Buscar productos,marcas ">
                </div>
                <div class="main-head">
                    <i class="fas fa-hand-holding-usd">Compra en cuotas y sin tarjeta de credito</i>
                </div>
            </div>
            <ul class='grid' type="none">
                <li class='col'>Ofertas</li>
                <li class='col'>Tiendas Oficiales</li>
                <li class='col'>Vender</li>
                <li class='col'><a href="/product/list">productos</a></li>
                <li class='col'><a href="/product/create">crear producto</a></li>
                <li class='col'>Ayuda</li>
                <li class='col'><a href="register">Crea tu cuenta<i class="far fa-address-card"></i></a></li>
                <li class='col'><a href="login">Ingresar<i class="far fa-address-card"></i></a></li>
                <li class='col'>Mis compras<i class="fas fa-shopping-basket"></i></li>
            </ul>


            <div class='nav-buttom'>
                <i class="fas fa-bars"></i>
            </div>

        </header>
        <section class='banner'>
            <img src="/img/img-home-banner.jpg" alt="..." class="banner">
        </section>