<%- include('./parcials/head')  %> 

    <main>

        <form class = 'registro' action="home" method="post">
            <h1>Ingresar</h1>
        <div>
            <label for=""></label>
            <input type="text" placeholder="Nombre de Usuario"> 
        </div> <br>
        <div>
            <label for="password"></label>
            <input type="password" name = 'password' id = 'password' placeholder="Contrasenia"> 
        </div>
       
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
    





    </main>
   

<!--------------------------------------------FOOTER------------------------------------------------>

        
<%- include('./parcials/footer')  %> 