<%- include('./parcials/head')  %> 

    <main>

        <form class = 'registro' action= "home" method="post">
            <h1>Registrate</h1>
        <div>
            <input type="text" name = 'nombre' placeholder="Nombre y Apellido">
        </div> <br>
        <div>
            <input type="text" placeholder="Nombre de Usuario"> 
        </div> <br>
        <div>
            <input type="email" placeholder="email">
        </div> <br>
        <div>
            <input type="password" name = 'password' id = 'password' placeholder="Contrasenia">
        </div> <br>
        <div>
            <label for="fecha">Fecha de nacimiento</label> <br>
            <input type="date" name = 'fecha' id = 'fecha'>
        </div> <br>
        <div>
            <input type="text" placeholder="Domicilio">
        </div> <br>
        <div>
            <label for="perfil">Perfil del usuario</label> <br> <br>
            <input type="radio" name="perfil" value="Débito" checked>Comprador
            <input type="radio" name="perfil" value="Débito" checked>Vendedor
        </div> <br>
        <div class = 'interes'>
            <label for="hobbies">intereses</label> <br> <br>
            <input type="checkbox" name="hobbies" value="E">Electro <br> <br>
            <input type="checkbox" name="hobbies" value="M">Moda <br> <br>
            <input type="checkbox" name="hobbies" value="H">Hogar <br> <br>
            <input type="checkbox" name="hobbies" value="J">Jugueteria <br> <br>
            <input type="checkbox" name="hobbies" value="V">Vida sana
        </div> <br>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </form>
    





    </main>
   

<!--------------------------------------------FOOTER------------------------------------------------>

        
<%- include('./parcials/footer')  %> 